<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script
      src="https://unpkg.com/peerjs@1.5.5/dist/peerjs.min.js"
      defer
    ></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
      console.log("Room ID:", ROOM_ID);
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="main_wrap">
        <div id="video-wrap"></div>
        <div class="video__controller">
          <button type="button" class="btn__action" onclick="toggleVideo(this)">
            <img src="images/video.png" />
          </button>
          <button type="button" class="btn__action" onclick="toggleAudio(this)">
            <img src="images/mic.png" />
          </button>
          <!-- <button type="button" class="btn__action" onclick="leaveCall(this)">
            <img src="images/call.png" />
          </button> -->
        </div>
      </div>
    </div>
    <div id="video-wrap"></div>
  </body>
</html>
